<div class="row center-xs">
	<div class="clo-xs-8 col-md-6">
    	<div class="box text-left">
			<h1>Editar Concurso</h1>

			<%= render 'form', competition: @competition %>
			
			<%= link_to 'Ver', @competition, class:"btn btn-primary active" %>
			<%= link_to 'Atras', competitions_path, class:"btn btn-danger active" %>
		</div>
	</div>
</div>